body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #373737;
    color: white;
}

header {
    text-align: center;
    margin-bottom: 20px;
}
a {
    color: #1E90FF;
    text-decoration: none;
}